# temporary Files
/[._]*.s[a-w][a-z]
/[._]s[a-w][a-z]
/*.un~
/Session.vim
/.netrwhist
/.\#*
/*.tmp

# backup files
/*~
/*.orig
/*.bak
#---------------------------

# OS dependent files
/**/.DS_Store
/Thumbs.db

# others
/~$*
/.vagrant/
/.idea/
/.vscode/
