[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
requests = "*"
pydantic = "*"
tqdm = "*"
numpy = "*"
Janome = "*"
jaconv = "*"
pyboin = "*"
emoji = "*"
mojimoji = "*"
kanjize = "*"
python-levenshtein = "*"
parameterized = "*"
types-emoji = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python main.py --start"
help = "python main.py --help"
test = "python -m unittest discover -s tests"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
mypy = "mypy ."
